<!-- IF .pin_images -->
<a href="#" class="pinterest" id="pinterest" title="{L_SHARE_PINTEREST}">&nbsp;</a>
<!-- IF S_SHOWSHARES --><span class="social_count">{SHARES_PINTEREST}</span><!-- ENDIF -->
<div class="pinterestpop pop">
	<h3>{L_SHARE_ON_PINTEREST}</h3>
    <!-- BEGIN pin_images -->
	<div class="column1">
	<img src="{pin_images.IMG_URL}" height="100" alt="">
	</div>
	<div class="column2"><button onclick="return open_socialmedia('//www.pinterest.com/pin/create/button/?url={pin_images.URL}&media={pin_images.IMG}&description={pin_images.COMMENT}');">{L_SHARE}</button></div>
	<hr>
	<!-- END pin_images -->
</div>
<!-- ENDIF -->