<script>
function deselect(e) {
  $('.pinterestpop').slideFadeToggle(function() {
    e.removeClass('selected');
  });
}

$(function() {
  $('#pinterest').on('click', function() {
    if($(this).hasClass('selected')) {
      deselect($(this));
    } else {
      $(this).addClass('selected');
      $('.pinterestpop').slideFadeToggle();
    }
    return false;
  });
});

$.fn.slideFadeToggle = function(easing, callback) {
  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
};
</script>